plots/
raws/*
!raws/047_20150203_Tchou_CAFs.zip
preprocessed/
general/*
!general/studies.tsv
!general/studies_idat.tsv
RNA-seq/*
!RNA-seq/SamplesRNASeq.txt
!RNA-seq/run.sh
!RNA-seq/pdata_GSE58135.txt
!RNA-seq/Initiate_RNASeq_An.R
combined_exprs/
combined/
allsamples_exprs/
scripts/.RData
scripts/.Rhistory

